@font-face {
  font-family: 'iconfont'; /* Project id 4441347 */
  src:
    url('iconfont.woff2?t=1710480849137') format('woff2'),
    url('iconfont.woff?t=1710480849137') format('woff'),
    url('iconfont.ttf?t=1710480849137') format('truetype');
}

[class*='lf-icon-'] {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lf-icon-chufang:before {
  content: '\e87e';
}

.lf-icon-dizhi:before {
  content: '\e87f';
}

.lf-icon-anquan:before {
  content: '\e880';
}

.lf-icon-huiyuan:before {
  content: '\e881';
}

.lf-icon-bianji:before {
  content: '\e882';
}

.lf-icon-baogao:before {
  content: '\e883';
}

.lf-icon-chuntianran:before {
  content: '\e884';
}

.lf-icon-dianzan:before {
  content: '\e885';
}

.lf-icon-dengdai:before {
  content: '\e886';
}

.lf-icon-dingdan:before {
  content: '\e887';
}

.lf-icon-duihua:before {
  content: '\e888';
}

.lf-icon-dangan:before {
  content: '\e889';
}

.lf-icon-dingwei:before {
  content: '\e88a';
}

.lf-icon-gouwu:before {
  content: '\e88b';
}

.lf-icon-kapian:before {
  content: '\e88c';
}

.lf-icon-goumai:before {
  content: '\e88d';
}

.lf-icon-dianhua:before {
  content: '\e88e';
}

.lf-icon-huangguan:before {
  content: '\e88f';
}

.lf-icon-chazhao:before {
  content: '\e890';
}

.lf-icon-fenxiang:before {
  content: '\e891';
}

.lf-icon-fenlei:before {
  content: '\e892';
}

.lf-icon-jiancha:before {
  content: '\e893';
}

.lf-icon-rili:before {
  content: '\e894';
}

.lf-icon-liulan:before {
  content: '\e895';
}

.lf-icon-xiaoxi:before {
  content: '\e896';
}

.lf-icon-lishi:before {
  content: '\e897';
}

.lf-icon-shuoming:before {
  content: '\e898';
}

.lf-icon-shipin:before {
  content: '\e899';
}

.lf-icon-linggan:before {
  content: '\e89a';
}

.lf-icon-shouye:before {
  content: '\e89b';
}

.lf-icon-tixing:before {
  content: '\e89c';
}

.lf-icon-yaopin:before {
  content: '\e89d';
}

.lf-icon-yaoxiang:before {
  content: '\e89e';
}

.lf-icon-saoma:before {
  content: '\e89f';
}

.lf-icon-tupian:before {
  content: '\e8a0';
}

.lf-icon-kefu:before {
  content: '\e8a1';
}

.lf-icon-yiyuan:before {
  content: '\e8a2';
}

.lf-icon-xingji:before {
  content: '\e8a3';
}

.lf-icon-shanchu:before {
  content: '\e8a4';
}

.lf-icon-tongzhi:before {
  content: '\e8a5';
}

.lf-icon-xihuan:before {
  content: '\e8a6';
}

.lf-icon-shuru:before {
  content: '\e8a7';
}

.lf-icon-shezhi:before {
  content: '\e8a8';
}

.lf-icon-wode:before {
  content: '\e8a9';
}

.lf-icon-yuer:before {
  content: '\e8aa';
}

.lf-icon-yisheng:before {
  content: '\e8ab';
}

.lf-icon-youhui:before {
  content: '\e8ac';
}

.lf-icon-yongyao:before {
  content: '\e8ad';
}

.lf-icon-liwu:before {
  content: '\e8ae';
}

.lf-icon-xiangji:before {
  content: '\e8af';
}

.lf-icon-yuyin:before {
  content: '\e8b0';
}

.lf-icon-zhishi:before {
  content: '\e8b1';
}

.lf-icon-fufei:before {
  content: '\e8b2';
}

.lf-icon-dianpu:before {
  content: '\e8b3';
}

.lf-icon-guanbi:before {
  content: '\eca0';
}

.lf-icon-xian_daochu:before {
  content: '\e6ad';
}

.lf-icon-xian_fenxiang:before {
  content: '\e6ae';
}

.lf-icon-xian_guanzhu:before {
  content: '\e6af';
}

.lf-icon-xian_jutishijiantongji:before {
  content: '\e6b0';
}

.lf-icon-xian_chaoshichuli:before {
  content: '\e6b1';
}

.lf-icon-xian_shangchuan:before {
  content: '\e6b2';
}

.lf-icon-xian_sousuochaxun:before {
  content: '\e6b3';
}

.lf-icon-xian_jutishijianhuanbitongbi:before {
  content: '\e6b4';
}

.lf-icon-xian_zhuanfachulizhong:before {
  content: '\e6b5';
}

.lf-icon-xian_shijianleixingtongji:before {
  content: '\e6b6';
}

.lf-icon-python:before {
  content: '\e767';
}
